.favorites-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));

}

.title {
	color: rgb(255, 255, 255);
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	margin-bottom: 24px;
}

.container-fav {
	margin-left: 32px;

}